{% extends 'base.html' %} 
{% block content %}
<section id="about" class="container p-5 border rounded mb-5 bg-secondary text-white">
  <div class="text-center">
    <h1 class="text-decoration-underline">Acerca de nosotros</h1>
  </div>
  <h3>¿Quiénes somos?</h3>
  <p>
    Somos una tienda en línea especializada en la venta de deliciosos flanes y
    postres, hechos con los mejores ingredientes y con recetas tradicionales.
  </p>
  <p>
    Nuestro sitio web ofrece una amplia variedad de productos para satisfacer
    tus antojos de dulces, desde los clásicos flanes de vainilla hasta los más
    extravagantes flanes de frutas exóticas.
  </p>
  <p>
    En OnlyFlans, nos comprometemos a brindarte una experiencia de compra fácil
    y segura, junto con la entrega rápida de productos frescos directamente a tu
    puerta.
  </p>
  <h3>Información de la PYME</h3>
  <p>Nombre: OnlyFlans</p>
  <p>Fecha de Creación: Enero de 2020</p>
  <p>Ubicación: Ciudad de Ejemplo, País de Ejemplo</p>
  <p>Contacto: info@onlyflans.com | Teléfono: +123456789</p>
</section>
{% endblock %}
