{% extends 'base.html' %} 
{% block content %} 

<section id="contact" class="container p-5 text-center border rounded mb-5">
    <div class="mx-auto" style="max-width: 400px;">
      {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong>
      {% for field in form %}
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
      {% endfor %}
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
              {{ error }}
          {% endfor %}
      {% endif %}
  </div>
    {% endif %}
      <form action="/contact" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Contáctanos</h1>
        <div class="mb-3 form-floating">
          <input type="email" name="customer_email" class="form-control" id="customer_email" placeholder="name@example.com" required>
          <label for="customer_email">Correo electrónico</label>
        </div>
  
        <div class="mb-3 form-floating">
          <input type="text" name="customer_name" class="form-control" id="customer_name" placeholder="Nombre de usuario">
          <label for="customer_name">Nombre</label>
        </div>
  
        <div class="mb-3 form-floating">
          <textarea name="message" class="form-control" id="message" placeholder="Mensaje" rows="3"></textarea>
          <label for="message">Mensaje</label>
        </div>
  
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </section>
  

{% endblock %}
