{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h1>Bienvenido a OnlyFlans</h1>
  <p>¡Gracias por visitar nuestra página web!</p>
  <p>
    Somos una pyme especializada en la venta de deliciosos pasteles y postres.
    Nuestro objetivo es ofrecerte los mejores productos de repostería para que
    disfrutes de momentos dulces e inolvidables.
  </p>
  <p>
    No dudes en explorar nuestra tienda en línea para descubrir una amplia
    variedad de opciones irresistibles.
  </p>
</div>
{% endblock %}
